<footer class="footer">

  <div class="footer-top">
    <div class="container">

      <div class="row footer-widgets w-100">
        <div class="col-md-4 d-flex flex-column align-items-start mb-4">
          <a href="/" class="logo mb-3" onclick="location.href='/'">
            <img src="./assets/images/logo-light1.png" alt="MirMarketing">
          </a>
          <p class="section-text">
            Mir Marketing is a creative agency focused on digital growth and brand design. Mir Marketing delivers smart marketing ideas that connect businesses with their audience.
          </p>
        </div>

        <div class="col-md-4 mb-5">
          <h2 class="footer-title">Social Links</h5>
          <ul class="social-links list-unstyled d-flex gap-3 mt-3">
            <li><a href="#" class="social-link" aria-label="Facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#" class="social-link" aria-label="Twitter"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#" class="social-link" aria-label="Instagram"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#" class="social-link" aria-label="LinkedIn"><ion-icon name="logo-linkedin"></ion-icon></a></li>
          </ul>
        </div>

        <div class="col-md-4 mb-4">
          <h2 class="footer-title">Contact Us</h5>
          <ul class="contact-list list-unstyled mt-3">
            <li class="d-flex align-items-center">
              <ion-icon name="mail-outline" class="me-2"></ion-icon>
              <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=mirmarketing@gmail.com&su=General%20Inquiry&body=Hello%2C%20I%20have%20a%20inquiry.">mirmarketing@gmail.com</a>
            </li>
            <li class="d-flex align-items-center">
              <ion-icon name="call-outline" class="me-2"></ion-icon>
            <a href="javascript:void(0)" onclick="openWhatsApp('Hello, I would like to make an enquiry')">+923156216916</a>
            </li>
            <li class="d-flex align-items-center">
              <ion-icon name="location-outline" class="me-2"></ion-icon>
              <span>North Town Residency, Phase 1</span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">

      <p class="copyright">
        &copy; 2022 <a href="#">Mir Marketing</a>
      </p>

    </div>
  </div>

</footer>
