<header class="header" data-header>

  <div class="overlay" data-overlay></div>

  <div class="header-top">
    <div class="container">

      <ul class="header-top-list p-0">

        <li>
          <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=mirmarketing@gmail.com&su=General%20Inquiry&body=Hello%2C%20I%20have%20a%20inquiry." class="header-top-link d-flex justify-content-center align-items-center">
            <ion-icon name="mail-outline"></ion-icon>

            <span>mirmarketing@gmail.com</span>
          </a>
        </li>

        <li>
          <a href="#" class="header-top-link d-flex justify-content-center align-items-center">
            <ion-icon name="location-outline"></ion-icon>

            <address class="m-0">North Town Residency, Phase 1</address>
          </a>
        </li>

      </ul>

      <div class="wrapper">
        <ul class="header-top-social-list p-0">

          <li>
            <a href="#" class="header-top-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <div class="header-bottom">
    <div class="container">

      <a href="#" class="logo">
        <img src="./assets/images/logo1.png" alt="MirMarketing">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="./assets/images/logo1.png" alt="MirMarketing">
          </a>

          <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <div class="navbar-bottom">
          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li>
              <a href="#about" class="navbar-link" data-nav-link>About</a>
            </li>

            <li>
              <a href="#service" class="navbar-link" data-nav-link>Service</a>
            </li>

            <li>
              <a href="#property" class="navbar-link" data-nav-link>Property</a>
            </li>

            <li>
              <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
            </li>

            <li>
              <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
            </li>

          </ul>
        </div>

      </nav>

      <div class="header-bottom-actions">

        

        <a class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu" href="https://wa.me/923001234567" target="_blank" rel="noopener">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <span>Contact Inquiry</span>
        </a>

      </div>

    </div>
  </div>

</header>
